.aboutlanding{


    background-image: linear-gradient(
        to left,
        rgba(0, 5, 7, 0.521),
        rgba(11, 12, 12, 0.9)
      ),
      url("../../assets/about.jpg");
      height: auto;
    width: 100%;
    /* background-size: contain; */
    background-size: cover;
  
    background-size: 100% 85%;
  
    background-repeat: no-repeat;
}